<h1>Editing Bozon</h1>

<% form_for(@bozon) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :data %><br /><%= f.text_area :data %></p>
  <p><%= f.submit "Update" %></p>
<% end %>

<%= link_to 'Show', @bozon %> |
<%= link_to 'Back', bozons_path %>
