<h1>New Bozon</h1>

<% form_for(@bozon) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :data %><br /><%= f.text_field :data %></p>
  <p><%= f.submit "Create" %></p>
<% end %>

<%= link_to 'Back', bozons_path %>
