<p><b>Data:</b><%=h @bozon.data %></p>
<p><b>CID:</b><%=h @bozon.cid %></p>
<p><b>UUID:</b><%=h @bozon.uuid %></p>
<p><b>Parent:</b><%=h @bozon.parent %></p>

<%= link_to 'Edit', edit_bozon_path(@bozon) %> |
<%= link_to 'Back', bozons_path %>
